ui-form { width:470px; margin:0 auto; }
.ui-form .ui-widget-header h2 { margin:10px 0 10px 20px; }
.ui-form .ui-widget-content { padding:20px; }
.ui-form label, .ui-form input, .ui-form .ui-state-error,
.ui-form .ui-icon, .ui-form .ui-state-error p { float:left; }
.ui-form label, .ui-state-error p {
	font-size:12px; padding:10px 10px 0 0;
}
.ui-form .ui-state-error { padding:4px; }
.ui-form .ui-icon {}